.app {
    display: grid;
    height: 100%;
}

main {
    display: grid;
    height: 100%;
}

footer {
    width: fit-content;
    justify-self: center;
    font-family: 'DM Sans', sans-serif;
    opacity: 0.8;
    margin: 1rem 0;
    font-size: 0.65rem;
}